.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    overflow-y: auto;
    transition: all 0.3s;
    transform: translateX(-70%);
    z-index: 1001;
    background-color: #00BFFF;
}

.sidebar.active {
    transform: translateX(0);
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 30px;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #009AD7;
}

h2 {
    margin-top: 10px;
    margin-left: 10px;
}

.search-history-icon.active {
    position: absolute;
    margin-top: 10px;
    right: 30px;
    background-color: #009AD7;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

.search-history-icon.none {
    display: none;
}

.user-icon.active {
    position: absolute;
    margin-top: 60px;
    right: 30px;
    background-color: #009AD7;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

.user-icon.none {
    display: none;
}

.logout-icon.active {
    position: absolute;
    margin-top: 110px;
    right: 30px;
    background-color: #009AD7;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

.logout-icon.none {
    display: none;
}

.sidebar-text.active {
    margin-top: 1rem;
    margin-left: 30px;
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 30px;
}

.sidebar-text.none {
    display: none;
}

.sidebar-text.active:hover {
    background-color: #009AD7;
}