@import "ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-container {
  width: 75%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.popup-card {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.popup-card button {
  background-color: #0096FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.traffic-card {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.traffic-info {
  margin-top: 15px;
  display: flex;
  justify-content: right;
  align-items: right;
  flex-direction: column;
}

.map-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.traffic-info-button {
  position: absolute;
  bottom: 10px;
  left: 120px;
  z-index: 1000;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.route-button {
  position: absolute;
  bottom: 60px;
  left: 10px;
  z-index: 1000;
  background-color: cornflowerblue;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.copyright-caption {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  z-index: 1000;
}

.tooltip {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px #0000001a;
  padding: 15px 10px;
  pointer-events: auto;
  position: relative;
}

#instructionContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  max-width: 400px;
}

#instructionContainer .exit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.traffic-circle {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.red {
  background-color: #ff0000;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #008000;
}

.grey {
  background-color: #808080;
}

.arrow::before {
  content: "➡";
  display: inline-block;
  margin-right: 5px;
}