@import "ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-container {
  width: 75%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.popup-card {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.popup-card button {
  background-color: #0096FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.map-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.copyright-caption {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  z-index: 1000;
}