.full-height-container {
    position: relative;
    height: 100vh;
}

/*search-history style*/
.search-location-container,
.search-history-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    margin-left: 100px;
}

.search-location-container * {
    font-size: 10px;
}

.search-location-container h2 {
    font-size: 10px;
    font-weight: 500;
}

.search-history-close {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 8px;
    cursor: pointer;
}

.search-history-list {
    margin-top: 20px;
}

.search-history-item {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}


/*search-location style*/

/*.add-stop-button {*/
/*  background-color: cornflowerblue;*/
/*  color: white;*/
/*  border: none;*/
/*  padding: 5px;*/
/*  margin-left: 40px;*/
/*  margin-top: -18px;*/
/*  cursor: pointer;*/
/*}*/

.gray-text {
    color: gray;
}