.search-container {
  display: inline-block;
  margin-left: 80px;
  margin-top: 10px;
  vertical-align: top;
}

.full-height-container {
  height: 100vh;
  position: relative;
}

.search-history-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 10px;
  left: 120px;
}

.search-history-close {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0px 8px;
  cursor: pointer;
}

.search-history-list {
  margin-top: 20px;
}

.search-history-item {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.add-stop-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.gray-text {
  color: gray;
}

.transport-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; /* Adjust the margin value as needed */
}

.transport-options-container label {
  margin-bottom: 10px;
}

.transport-options-container h3,
.transport-options-container h4 {
  margin-top: 0;
}


.stop-transport-options-container {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}

.add-stop-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #88aaff;
  margin: 8px 0;
}

.add-stop-dots::before,
.add-stop-dots::after {
  content: "•";
  margin: 1px 0;
}