.full-height-container {
    position: relative;
    height: 100vh;
}

.search-location-container,
.search-history-container {
    flex-direction: column;
    position: absolute;
    padding: 40px;
    margin-left: 100px;
}

.search-location-container * {
    font-size: 10px;
}

.search-location-container h2 {
    font-size: 10px;
    font-weight: 500;
}

.search-history-close {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 8px;
    cursor: pointer;
}

.search-history-list {
    margin-top: 20px;
}

.search-history-item {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.add-stop-component {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 60px;
    color: #00BFFF;
}

.gray-text {
    color: gray;
}