.recovery-code-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 92%;
    background-position: center;
}

.recovery-code-form-container {
    background-color: #F3E7D3;
    border: solid 5px;
    border-color: #333;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recovery-code-form-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #FFFAED;
}

button[type="submit"] {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
    height: 3rem;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}