.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: 92%;
  background-position: center;
}

.login-form-container {
  background-color: #F3E7D3;
  border-radius: 10px;
  border: solid 5px;
  border-color: #333;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form-container h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #FFFAED;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button[type="submit"] {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  margin-bottom: 0.4rem;
  height: 3rem;
}

button[type="button"] {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  margin-bottom: 0.2rem;
  height: 3rem;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.register-link {
  display: inline-block;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.register-link:hover {
  color: #0056b3;
}

.forgot-password-link {
  display: block;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.forgot-password-link:hover {
  color: #0056b3;
}

.about-wayfinder-link {
  display: block;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

.about-wayfinder-link:hover {
  color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}
