.loading-info {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #F8F9Fa;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    color: #333;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation-fill-mode: forwards;
}

.user-dashboard {
    color: black;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.user-dashboard .dashboard-sidebar {
    color: black;
    background-color: #00BFFF;
    height: 100%;
    width: 20%;
    overflow: auto;
}

.user-dashboard .dashboard-sidebar ul li a {
    text-decoration: none;
    color: inherit;
}

.centered-list {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

.centered-list li {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.centered-list li:hover {
    background-color: #009AD7;
}

p {
    margin-top: 15%;
}

.dashboard-sidebar h2 {
    text-align: center;
    margin-top: 3%;
}

.content h3 {
    text-align: center;
    margin-bottom: 10%;
}

.user-dashboard .content-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.user-dashboard .content {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 45%;
    margin-top: 3%;
    height: 100%;
    width: 80%;
}

.data-field {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    width: 65%;
    text-align: center;
}

.data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.data-row p {
    margin: 0;
}

.user-dashboard form {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 45%;
    margin-top: 3%;
    height: 100%;
    width: 80%;
}

.user-dashboard form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-dashboard form input[type="text"],
.user-dashboard form input[type="email"] {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    width: 65%;
    text-align: center;
}

.user-dashboard .content input[type="text"] {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    width: 65%;
    text-align: center;
}

.user-dashboard .content input {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    text-align: center;
    margin-top: 5%;
}

.user-dashboard .content .qr-code {
    display: flex;
    flex-direction: column;
    margin-left: 34%;
    width: 100%;
}

.user-dashboard form input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    color: white;
    background-color: #0D6EFD;
    border-radius: 10px;
    border: 1px solid #0D6EFD;
}

.user-dashboard form h3 {
    text-align: center;
    margin-bottom: 15%;
}

.popup {
    position: fixed;
    z-index: 9999;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #F8F9Fa;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    color: #333;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation-fill-mode: forwards;
}

.popup-success {
    background-color: #D4EDDA;
    color: #155724;
}

.popup-error {
    background-color: #F8D7DA;
    color: #721C24;
}

.btn {
    margin-top: 15px;
    padding: 5px;
    color: white;
    background-color: #0D6EFD;
    border-radius: 10px;
    border: 1px solid #0D6EFD;
}

tr th {
    border: 1px solid #CCCCCC;
    padding: 10px;
}

tr td {
    border: 1px solid #CCCCCC;
    padding: 10px;
}

table {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    border-radius: 30px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #CCCCCC;
    background-color: #F7F7F7;
}

.history-message {
    margin: auto;
    margin-top: 10px;
}

.passwd-header {
    text-align: center;
    margin-top: 120px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}