.ForgottenPasswordPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: 92%;
  background-position: center;
}

.forgot-password-form-container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-password-form-container h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.forgot-password-form-group {
  margin-bottom: 1.5rem;
}

.forgot-password-form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.forgot-password-form-group input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.forgot-password-button-container {
  margin-top: 1.5rem;
}

.forgot-password-button-container button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.forgot-password-button-container button:hover {
  background-color: #0056b3;
}

.back-to-login-link {
  display: inline-block;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.back-to-login-link:hover {
  color: #0056b3;
}
